<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/app::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<section>

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Adress</th>
                <th scope="col">Invoice</th>

            </tr>
            </thead>
            <tbody>

            @foreach ($orders as $order)
            <th:block th:each="order:${orders}">


            <tr>
                <th scope="row" th:text="${order.id}"></th>

                <th scope="row" th:text="${order.first_name}">{{$order->first_name.$order->last_name}}</th>
                <td  th:text="${order.phone}">{{$order->phone}}</td>
                <td  th:text="${order.address+' '+order.city}"></td>
                <td ><a th:href="@{'/invoice/'+${order.id}}">Invoice</a></td>

            </tr>

            </th:block>
            @endforeach


            </tbody>
        </table>

    </div>
    {{$orders->links("pagination::bootstrap-4")}}
    </div>	<!--/.main-->





</section>





</body>
</html>