<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form th:action="@{\sendnewbook}" method="post"  enctype="multipart/form-data">

<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlFile1">Book cover image</label>-->
<!--        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">-->
<!--    </div>-->

    <div class="form-group">
        <label for="name">Book Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Book Name">
    </div>
    <div class="form-group">
        <label for="author">Writer Name</label>
        <input type="text" class="form-control" id="author" name="author"  placeholder="Writer Name">
    </div>
    <div class="form-group">
        <label for="publisher">Publisher</label>
        <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Publisher">
    </div>


    <div class="form-group">
        <label for="category">Category</label>
        <br>



        <input type="checkbox"  id="category" name="category[]" value="BEST-SELLER">
        BEST-SELLER

        <br>

        <input type="checkbox" name="category[]" value="ENGINEERING">
        ENGINEERING

        <br>
        <input type="checkbox" name="category[]" value="PROGRAMMING">
        PROGRAMMING

        <br>
        <input type="checkbox" name="category[]" value="COMPETITIVE EXAM">
        COMPETITIVE EXAM

        <br>
        <input type="checkbox" name="category[]" value=" COMMER’S FACULTY">
        COMMER’S FACULTY

        <br>
        <input type="checkbox" name="category[]" value="JOB">
        JOB

        <br>

        <input type="checkbox" name="category[]" value="ACADEMIC">
        ACADEMIC

        <br>
        <input type="checkbox" name="category[]" value="OLYMPIAD">
        OLYMPIAD

        <br>
        <input type="checkbox" name="category[]" value="MEDICAL">
        MEDICAL

        <br>
        <input type="checkbox" name="category[]" value="Motivational/Novel">
        Motivational/Novel

        <br>


        <input type="checkbox" name="category[]" value="Law">
        Law

        <br>

        <br>
        <input type="checkbox" name="category[]" value="OTHER">
        OTHER

        <br>



    </div>



    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="price">
    </div>






    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 70vw;">Description</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" style="resize: vertical; width: 60vw;"></textarea>
    </div>






    <button type="submit" class="btn btn-primary">Submit</button>


</form>

</body>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>