<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <link rel="stylesheet" th:href="style.css" />




    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@600&family=Mulish:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />




    <link rel="stylesheet" href="nav.css" />





    <title>Nupur Book Center-Science-Commerce-Arts-Engineering-Medical-and-pdf-to-book-conversion</title>
  </head>
  <body>
     <!-- search bar  -->
     <div class="search" id="searchbar">
      <form>
          <input type="text" id="search" name="search" > 
          <i class="fas fa-times" id="close" onclick="hidesearch()"></i>
      </form>
       <div class="searchitem">
         
       </div>
  </div>    
      <script>
        function displaysearch(){
            document.getElementById("searchbar").style.top = "0px";     
        }
        function hidesearch(){
            document.getElementById("searchbar").style.top = "-300px";     
        }
     </script>







   <!--end search bar   -->



    <!--- nav start --->
    <header>
      <div class="header">
        <nav class="headercontainer">
          <div class="left nav">
            <ul>
              <li id="categorytag" class="categorytag"><a th:href="#" >Category</a>


                <div class="categorybig container">
                  <div class="row bigcategory">


                    <div class="col-sm-6 col-md-2 col-lg-2">
                      <div><a th:href="#">ENGINEERING  </a></div>
                      <ul>
                        <li><a th:href="">CSC</a></li>
                        <li><a th:href="">EEE</a></li>
                        <li><a th:href="">CIVIL</a></li>
                        <li><a th:href="">MECHANICAL</a></li>
                        <li><a th:href="">TEXTILE</a></li>
                        <li><a th:href=""> MERINE</a></li>
                        <li><a th:href=""> ARCHITECTURE </a></li>
                      </ul>
                    
                    </div>

                    <div class="col-sm-6 col-md-2 col-lg-2">
                      <div>
                      <a th:href="#">PROGRAMMING</a>
                     </div>
                     <ul>
                      <li><a th:href="">C</a></li>
                      <li><a th:href="">C++</a></li>
                      <li><a th:href="">C#</a></li>
                      <li><a th:href="">JAVA</a></li>
                      <li><a th:href="">PHP</a></li>
                      <li><a th:href=""> JS</a></li>
                      <li><a th:href=""> Python </a></li>
                      <li><a th:href=""> HTML </a></li>
                      <li><a th:href=""> CSS </a></li>
                      <li><a th:href=""> django </a></li>
                     </ul>
                  
                   </div>

                 



                 <div class="col-sm-6 col-md-2 col-lg-2">
                  <div>
                  <a th:href="#">COMPETITIVE EXAM </a>
                 </div>
                 <ul>
                  <li><a th:href="">IELTS</a></li>
                  <li><a th:href="">GRE</a></li>
                  <li><a th:href="">SAT</a></li>
                  <li><a th:href="">JAVA</a></li>
                  <li><a th:href="">GMAT</a></li>
                  <li><a th:href=""> CAT</a></li>
                  <li><a th:href=""> GED </a></li>
                  <li><a th:href=""> TOEFL </a></li>
                  <li><a th:href=""> CISA </a></li>
                  <li><a th:href=""> CISSP </a></li>
                  <li><a th:href=""> CCNA </a></li>
                  <li><a th:href=""> CCNP  </a></li>
                 </ul>
              
               </div>


               <div class="col-sm-6 col-md-2 col-lg-2">
                <div>
                <a th:href="#">COMMER’S FACULTY </a>
               </div>
               <ul>
                <li><a th:href="">BBA</a></li>
                <li><a th:href="">MBA</a></li>
                <li><a th:href="">ACCA</a></li>
                <li><a th:href="">FIA</a></li>
                <li><a th:href="">CFA</a></li>
                <li><a th:href=""> CIMA</a></li>
                <li><a th:href=""> GED </a></li>
                <li><a th:href=""> CFA </a></li>
                <li><a th:href=""> CISA </a></li>
                <li><a th:href=""> ICMA </a></li>
                <li><a th:href=""> PMP  </a></li>
             
               </ul>
            
             </div>


             <div class="col-sm-6 col-md-2 col-lg-2">
              <div>
              <a th:href="#">JOB</a>
             </div>
             <ul>
              <li><a th:href="">BCS</a></li>
              <li><a th:href="">BANK</a></li>
              <li><a th:href="">PSC</a></li>
              <li><a th:href=""> ALL MINISTRY</a></li>
              <li><a th:href="">IT</a></li>
              <li><a th:href=""> EEE</a></li>
              <li><a th:href=""> MECHANICAL </a></li>
              <li><a th:href=""> POWER </a></li>
              <li><a th:href=""> PRIMARY  </a></li>
              <li><a th:href=""> SCHOOL </a></li>
              <li><a th:href=""> NTRCA   </a></li>
           
             </ul>
          
           </div>








                    <div class="col-sm-6 col-md-2 col-lg-2">
                      <div><a th:href="#">ACADEMIC </a></div>
                      <ul>
                        <li><a th:href="">PRIMARY</a></li>
                        <li><a th:href="">JSC</a></li>
                        <li><a th:href="">SSC</a></li>
                        <li><a th:href="">HSC</a></li>
                        <li><a th:href="">HONOR’S</a></li>
                        <li><a th:href=""> O- LEVEL</a></li>
                        <li><a th:href=""> A-LEVEL</a></li>
                      </ul>
                    
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2">
                      <div><a th:href="#">OLYMPIAD </a></div>
                      <ul>
                        <li><a th:href="">PRIMARY</a></li>
                        <li><a th:href="">MATH</a></li>
                        <li><a th:href="">PHYSICS</a></li>
                        <li><a th:href="">ASTRONOMY</a></li>
                        <li><a th:href="">BIOLOGY</a></li>
                        <li><a th:href="">ENGLISH</a></li>
                        <li><a th:href=""> A-LEVEL</a></li>
                      </ul>
                    
                    </div>
                    


                 




                  </div>
                </div>
              
              
              
              </li>

           
               
              













              <li class="categorytag"><a th:href="#">Engineering</a>

                <div class="col-sm-6 col-md-2 col-lg-2 categorybig eng">
                  <div><a th:href="#">ENGINEERING  </a></div>
                  <ul>
                    <li><a th:href="">CSC</a></li>
                    <li><a th:href="">EEE</a></li>
                    <li><a th:href="">CIVIL</a></li>
                    <li><a th:href="">MECHANICAL</a></li>
                    <li><a th:href="">TEXTILE</a></li>
                    <li><a th:href=""> MERINE</a></li>
                    <li><a th:href=""> ARCHITECTURE </a></li>
                  </ul>
                
                </div>
              
              
              </li>
              <li class="categorytag"><a th:href="#">Medical</a>

                <div class="col-sm-6 col-md-2 col-lg-2 categorybig eng">
                  <div>
                  <a th:href="#">MEDICAL</a>
                 </div>
                 <ul>
                  <li><a th:href="">NURSING</a></li>
                  <li><a th:href="">DENTA</a></li>
                  <li><a th:href="">USML</a></li>
                 </ul>
              
               </div>
              
              
              </li>
            </ul>
          </div>
          <div class="logo">
            <h1 class="firstl"><span>N</span>UPUR BooK CENTER</h1>
          </div>
          <div class="right nav">
            <ul>
              <li class="categorytag"><a th:href="#">Olympiad&nbsp;<span><i class="fas fa-arrow-down"></i></span></a>
                <div class="col-sm-6 col-md-2 col-lg-2 categorybig eng">
                  <div><a th:href="#">OLYMPIAD </a></div>
                  <ul>
                    <li><a th:href="">PRIMARY</a></li>
                    <li><a th:href="">MATH</a></li>
                    <li><a th:href="">PHYSICS</a></li>
                    <li><a th:href="">ASTRONOMY</a></li>
                    <li><a th:href="">BIOLOGY</a></li>
                    <li><a th:href="">ENGLISH</a></li>
                    <li><a th:href=""> A-LEVEL</a></li>
                  </ul>
                
                </div>
              
              
              </li>  
              <li><a th:href="#" onclick="displaysearch()">Search&nbsp;<i class="fas fa-search" ></i></a></li>
              <li><a th:href="#">Cart&nbsp;<span><i class="fas fa-cart-arrow-down"></span></i></a></li>
              
            </ul>
          </div>
          <div class="menu">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </div>
    </header>
    <!---nav end --->

    <!---nav end --->

    <!---ad start--->
    <section>
      <div class="ad" id="paralex">
        <div class="firstadd">
          <h2 class="firstl">Nuper book center</h2>
          <p>Science . Commerce . Arts . Engineering . Medical</p>
          <p id="textchange">
            Nuper book center brings you the best sellers to all the academic
            books in your hand on a click.
          </p>

          <p id="textchange1" style="display: none;">
            পিডিএফ থেকে বই কপি করে দেয়া হয় ,অনলাইনে  অর্ডার নেয়া হয় ,কুরিয়ার এ বই পাঠানো হয় ,ঘরে বসে বই পেতে যোগাযোগ করুন 01816876637, 0174828019 
          </p>
          <a th:href="#books">Buy Books</a>
        </div>
      </div>
    </section>

     <script>
       var a=document.getElementById("textchange");
       var b=document.getElementById("textchange1");
       var count=0
       //setTimeout(()=>{a.style.display='none';b.style.display='block' }, 3000);

       setInterval(()=>{
         if(count%2==0){a.style.display='none'; a.style.transition='2s';b.style.display='block';}else{b.style.display='none';b.style.transition='2s';a.style.display='block';}
         count++;
          if(count==100){c=0;}
        }, 5000);
    

     </script>

    <!---ad end --->
  
  
    <!---Books Container --->
    <div class="title">
      <h1 class="firstl">BEST SELLER</h1>
    </div>

  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 	col-sm-6 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <a th:href="#">
              <div class="price">Himu</div>
              <div class="price">price 200</div> 
            </a>
          </div>
        </div>


        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>


        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>



        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>



        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>



        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>



        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>




        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>


        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>


        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>


        <div class="col-md-4 	col-sm-12 col-lg-2	col-xl-2">
          <div class="card">
            <div class="img">
              <a th:href="#">
                <img src="https://i.pinimg.com/originals/47/ce/04/47ce04eaa15d7a699e7e9daa0dfd8c72.png" alt="" />      
              </a>
              <span class="cart"><a th:href="#">Add to cart&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i></a></i></span>
            </div>
            <div class="price">Himu</div>
            <div class="price">price 200</div> 
          </div>
        </div>

   
      </div>
  
    </div>
    <div class="seemore">

      <a th:href="#">
       <h2  class="firstl">See More</h2>
      </a>
      
    </div>
 
    <!---Books Container end --->


    
    <!---Books Container --->
    <div class="title">
      <h1 class="firstl">Academic</h1>
    </div>

  
    <div class="container-fluid">
      <div class="row">
        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
              <div class="cart"><a th:href="#">Add to cart <i class="fas fa-shopping-cart"></i></a></i></div>
            </div>
            <div class="price">price 200</div>
          </div>
        </div>
        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>
        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img
                src="https://static.vecteezy.com/system/resources/previews/000/216/192/original/clean-and-minimalist-philosophy-book-cover-design-vector.jpg"
                alt=""
              />
            </div>

            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>

            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img
                src="https://static.vecteezy.com/system/resources/previews/000/216/192/original/clean-and-minimalist-philosophy-book-cover-design-vector.jpg"
                alt=""
              />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>

        <div class="t col-md-2">
          <div class="card">
            <div class="img">
              <img src="img\book.jpg" alt="" />
            </div>
            <div class="price">price 200</div>
          </div>
        </div>
      </div>

      <div class="seemore">

        <a th:href="#">
         <h2  class="firstl">See More</h2>
        </a>
        
      </div>
  
    </div>

 
    <!---Books Container end --->


    



    <div class="pdf" id="pdf">
      <div class="quote">
       <h2>“If you don’t like to read, you haven’t found the right book.” ― J.K Rowling </h2> 
     </div>
    </div>


    <div class="pdfto">
      <div> 
      <h2> We print pdf to book</h2>
      <a th:href="" class="">Print PDF</a>
    </div>
    </div>
  </body>



<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-headset icon"></i>
       <p>24/7 available call us!<br>
        hotline:01748280196</p> 
      </div>

      <div class="col-md-4 ">
        <i class="fas fa-truck icon"></i>
       <p>Fast delivey service!</p> 
      </div>


      <div class="col-md-4">
        <i class="fas fa-file-pdf icon"></i>
       <p>we make books from pdf!<br>
        hotline:01816876637</p> 
      </div>
      

    </div>
  </div>
</div>

<footer>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 address">
         <h2> CONTACT US</h2>
         <address>NUPUR BOOK CENTER, 12 NO GOLI, ISLAMIA MARKET, NILKHET, DHAKA-1205</address> 
          <a  href="tel:+8801816876637">Call me at <br> 01816876637,</a>
          <a  href="tel:+01748280196">01748280196,</a>
          <a  href="tel:+01912171150">01912171150.</a>
          <a  href="mailto:nupurbookcenter@gmail.com"> nupurbookcenter@gmail.com</a>.<br>
         
        </div>

        <div class="col-md-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.4023498678603!2d90.38327451530934!3d23.73302748459796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8c5dffa1727%3A0x538be2859437441b!2sNupur%20Book%20Center!5e0!3m2!1sen!2sbd!4v1621972109634!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col-md-4">
        <h2>FACEBOOK</h2>
        <i class="fab fa-facebook-square fb"></i>
        </div>
  
       
        
  
      </div>
    </div>
  </div>
 

</footer>
  












  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  ></script>
  <script src="../../../../../../Desktop/New%20folder%20(5)/backup%20nupur/nupurbooks/js/index.js"></script>
</html>
