<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../../../Desktop/New%20folder%20(5)/backup%20nupur/nupurbooks/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@600&family=Mulish:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="nav.css" />
    <title>Nupur Book Center-Science-Commerce-Arts-Engineering-Medical-and-pdf-to-book-conversion</title>



  </head>
  <body>
    <!--- nav start --->
    <header>
      <div class="header">
        <nav class="headercontainer">
          <div class="left nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Home</a></li>
            </ul>
          </div>
          <div class="logo">
            <h1 class="firstl"><span>N</span>UPUR BooK CENTER</h1>
          </div>
          <div class="right nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Home</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!---nav end --->




    <section class="container">


      <form action="{{route('billingconfirm')}}" method="post"  enctype="multipart/form-data">
        {{csrf_field()}}
        <h2>Billing details</h2>
        <p>Enter your details to the form below to process your order.</p>
        <div class="row">
            <div class="form-group col-md-6 ">
                <label for="inputPassword4">First-Name:</label>
                <strong><sup>*</sup></strong><input type="text"  name="firstname" id="first-name" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Last-Name:</label> <strong><sup>*</sup></strong>
              <input type="text"   name="last-name" id="lastname"class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Phone:</label> <strong><sup>*</sup></strong>
                <input type="text"  name="phone" id="phone" class="form-control" placeholder="017XXXXXXXX">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Email:</label> <strong><sup>*</sup></strong>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
            </div>
        </div>
        Country:<strong>Bangladesh</strong> <strong><sup>*</sup></strong>

        <div class="form-group">
            <label for="inputAddress">Address</label> <strong><sup>*</sup></strong>
            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="House number and street name">
        </div>
        <div class="form-group">
            <input type="text" name="flat"  class="form-control" id="inputAddress" placeholder="Apartment, suite, unit, etc. (optional)">
        </div>


            <div class="form-group col-md-6">
                <label for="inputCity">City</label> <strong><sup>*</sup></strong>
                <input type="text" class="form-control" id="inputCity" name="city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Division</label> <strong><sup>*</sup></strong>
                <select id="inputState" class="form-control"  name="division">
                    <option selected>Dhaka</option>
                    <option>Khulna</option>
                    <option>Mymensingh</option>
                    <option>Rajshahi </option>
                    <option >Barisal</option>
                    <option>Rangpur </option>
                    <option>Chittagong</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label> <strong><sup>*</sup></strong>
                <input type="text" class="form-control" id="inputZip" name="zip" id="zip">
            </div>






        <div class="">
            <div class="form-group col-md-4 padding">
                <h2>Billing details</h2>
                <ul>
                <li>
                    <input type="radio"  onclick="cash()" id="huey" name="paymentmethod" value="cash On delivery" checked>
                <label class="font1" for="huey">Cash on Delivery</label>
                    <div class="bkash paddi bkash paddi bkash padding" id="cash">
                        Pay with cash on the time of delivery.
                    </div>
                </li>
             <li>
                <input type="radio"   onclick="bkash()" id="huey" name="paymentmethod" value="bkash">
                <label class="font1" for="huey">pay in bKash</label>

                 <div class="bkash padding" id="bKash">
                     Please complete your bKash payment at first, then fill up the form below. Also note that 1.85% bKash "SEND MONEY" cost will be added with net price. Total amount you need to send us at ৳ XXX

                     bKash Personal Number : 019XXXXXXX Or 016XXXXXXXXXXXX
                     <label for="formGroupExampleInput">bKash Number</label>
                     <input type="text" class="form-control" id="formGroupExampleInput" name="paymentnumber" placeholder="017XXXXXXXX">
                     <label for="formGroupExampleInput">bKash Transaction ID</label>
                     <input type="text" class="form-control" id="formGroupExampleInput" name="txid" placeholder="f5df4g9h8ryt9g6">
                 </div>
                    </li>
                 </ul>
            </div>
        <div class="col-md-4 redfont">
            <div>Note.</div>
            <div class="">আপনার অবগতির জন্য জানানো যাচ্ছে যে ঢাকা শহরের বাহিরে যেকোনো অর্ডার এর জন্য পূর্বে বিকাশ পেমেন্ট করতে হবে </div>
        </div>

            <div class="col-md-4">

                <div class="cart_totals container paddingbkash payposition">
                    <h2>Cart Totals</h2>
                    <table>
                        <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td><span class="amount">৳{{ $cartforall->totalPrice  }}</span></td>
                        </tr>
                        <tr>
                            <th>Shipping</th>
                            <td id="shipping_method">
                                select shipping
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Total</th>
                            <td>
                                <strong><span class="amount" id="totalc"> select shipping</span></strong>
                            </td>


                        </tr>

                        </tbody>

                    </table>


                </div>
                <button type="submit" name="submit" class="confirmbutton">confirm your order</button>

            </div>

        </div>




    </form>



    




    </section>


    


















    <footer>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
               <h2> CONTACT US</h2>
                NUPUR BOOK CENTER, 6 NO GOLI, ISLAMIA MARKET, NILKHET, DHAKA-1205
                01816876637,
                01748280196,
                01912171150
                nupurbookcenter@gmail.com
              </div>
      
              <div class="col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.4023498678603!2d90.38327451530934!3d23.73302748459796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8c5dffa1727%3A0x538be2859437441b!2sNupur%20Book%20Center!5e0!3m2!1sen!2sbd!4v1621972109634!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
      
              <div class="col-md-4">
              <h2>FACEBOOK</h2>
              <i class="fab fa-facebook-square fb"></i>
              </div>    
            </div>
          </div>
        </div> 
      </footer>
        
      
      
      
      
      
      
      
      
      
      
      
      
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"
        ></script>
        <script src="../../../../../../Desktop/New%20folder%20(5)/backup%20nupur/nupurbooks/js/index.js"></script>
      </html>
      